/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/CODE_OF_CONDUCT.md export-ignore
/PITCHME.md export-ignore
/PITCHME.yaml export-ignore
/assets/Pitchme export-ignore
