@import-normalize;
// PostCSS Packages Test == class name

.postcss-flexbox {
  box: horizontal;
}

.postcss-zindex--one {
  z-index: 10000;
}

.postcss-zindex--two {
  z-index: 20000;
}

.postcss-easing-gradients {
  background-image: linear-gradient(red, ease, blue);
}

.postcss-center {
  top: center;
}

.postcss-clip-path-polyfill {
  clip-path: polygon(0 0, 100% 100%, 100% 0);
}

.postcss-sort-media-queries {
  @media (max-width: 60px) and (min-width: 40px) {
    display: inline;
  }

  @media screen and (min-width: 20px) {
    width: 16px;
  }

  @media screen and (max-width: 30px) {
    line-height: 1;
  }

  @media screen and (min-width: 10px) {
    width: 10px;
  }

  @media screen and (max-width: 30px) {
    font-size: 30px;
  }

  @media screen and (min-width: 10px) {
    height: 10px;
  }
}

.postcss-flexbugs-fixes {
  flex: 1;
}

.postcss-focus:hover {
  outline: 0;
}

.postcss-momentum-scrolling {
  overflow: scroll;
}

.pleeease-filters {
  filter: blur(4px);
}

// postcss-preset-env
:root {
  --mainColor: #12345678;

  font-family: system-ui;
}

.postcss-pxtorem {
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 1px;
}

.postcss-quantity-queries:at-least(4) {
  color: rebeccapurple;
}

.postcss-round-subpixels {
  height: 123.456px;
  width: 1234.567px;
  min-height: 12.345rem;
  min-width: 98.7654%;
}

.postcss-short {
  margin: x 10px x x;
}

.postcss-responsive-type {
  font-size: responsive;
}

.postcss-clearfix {
  clear: fix;
}

.postcss-easings {
  transition: transform 1s easeinsine, opacity 2s ease-in-sine;
}

.postcss-vmax {
  font-size: 1vmax;
}

.postcss-assets {
  background-size: size("Circle.svg");
  background-image: resolve("Circle.svg");

  &.inline {
    background-image: inline("Circle.svg");
  }
}

.postcss-calc {
  width: calc(3rem * 2 - 1rem);
  height: calc(1px - (2em + 3%));
  font-size: calc(calc(calc(1rem * 0.75) * 1.5) - 1px);
  margin-top: calc(calc(calc(1rem * 0.75) * 1.5) - 1rem);
  padding-top: calc(var(--h) * 1em);
}

.postcss-autoprefixer {
  display: grid;
  grid-template:
    ". ." 1fr
    "autoprefixer ." auto
    / auto 1fr;
}

.postcss-autoprefixer-element {
  grid-area: autoprefixer;
  place-self: center;
}
