{
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "extends": "eslint:recommended",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true
  },
  "globals": {
    "module": true,
    "exports": true,
    "dataLayer": true,
    "s3_log": true,
    "csrfToken": true
  },
  "rules": {
    "no-console": 0
  }
}
