node_modules

._*
*.example
.thumbs
.idea
.DS_Store
.sass-cache

/*.txt
/*.rst
/flow
/flow.bat
/gulp.json

/bin
/Build
/Configuration
/Data
/Packages

/Web/_Resources
/Web/index.php
/Web/.htaccess

# ignore the downloaded selenium server, config and the selenium
# temporary directory (which starts with a quote, do not ask why...)
/Tests/Selenium/settings.xml
Build/Resources/Java/selenium-server-standalone*
/"
